---
import Layout from "@/layouts/Layout.astro";
import MemberPortfolio from "@/components/pages/portfolio/MemberPortfolio";
import { taharaPortfolio } from "@/components/pages/portfolio/data/taharaPortfolio";

// ページタイトル
const pageTitle = `${taharaPortfolio.name}のポートフォリオ`;
---

<Layout title={pageTitle}>
  <div class="container mx-auto">
    <MemberPortfolio member={taharaPortfolio} client:load />
  </div>
</Layout>