---
import Layout from '../../layouts/Layout.astro';
import { BlogList } from '../../components/blog/BlogList';
import Section from '@/components/shared/Section';
---

<Layout
  title="技術ブログ | CodeCiao"
  description="CodeCiaoのエンジニアによる技術情報の発信"
>
  <Section bg="light">
    <BlogList client:load />
  </Section>
</Layout>
