---
import Layout from "@/layouts/Layout.astro";
import CompanyProfile from "@/components/pages/about/CompanyProfile";
import Section from "@/components/shared/Section";
---

<Layout title="会社概要" description="会社概要ページです。">
  <Section bg="light">
    <CompanyProfile client:load />
  </Section>
</Layout>
