---
import Layout from "../layouts/Layout.astro";
import MembersComponent from "../components/Members/Members";
import Section from "@/components/Section";
---

<Layout title="メンバー紹介">
  <Section bg="light">
    <MembersComponent client:load />
  </Section>
</Layout>
