---
import Layout from "@/layouts/Layout.astro";
import MembersComponent from "@/components/pages/members/Members";
import Section from "@/components/shared/Section";
---

<Layout title="メンバー紹介">
  <Section bg="light">
    <MembersComponent client:load />
  </Section>
</Layout>
