---
import ProjectList from "@/components/projects/ProjectList";
import Section from "@/components/shared/Section";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
const sortedProjects = projects.sort(
  (a, b) => b.data.publishedDate.getTime() - a.data.publishedDate.getTime()
);
---

<Layout title="開発実績 | CodeCiao" description="CodeCiaoの開発・技術支援の実績のご紹介">
  <Section bg="light">
    <ProjectList
      client:load
      projects={sortedProjects.map(project => ({
        title: project.data.title,
        summary: project.data.summary,
        publishedDate: project.data.publishedDate,
        cover: project.data.cover?.src,
        coverAlt: project.data.coverAlt,
        href: `/projects/${project.id}`,
        tags: project.data.tags,
      }))}
      itemsPerPage={15}
    />
  </Section>
</Layout>
