---
import Header from "../components/Header";
import Footer from "../components/Footer";
import SecondaryCTA from "../components/SecondaryCTA";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "クラウドネイティブ開発で事業成長を加速する" } =
  Astro.props;

const { pathname } = Astro.url;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/webp" href="/icon.webp" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body>
    <Header client:load pathname={pathname} />
    <main
      class:list={[
        "mx-auto min-h-screen",
        { "pt-16": Astro.url.pathname !== "/" },
      ]}
    >
      <slot />
    </main>
    <SecondaryCTA />
    <Footer />
  </body>
</html>

<style is:global>
  @import "../styles/globals.css";
</style>
